accelerate
addict
basicsr
diffusers==0.21.4
imageio
lmdb
numpy
opencv-python
pillow
protobuf
psutil
py360convert
pyparsing
python-dateutil
PyYAML
realesrgan==0.3.0
regex
requests
safetensors
scikit-image
scipy
six
sympy
tb-nightly
tensorboard-data-server
tifffile
tokenizers
tomli
torch==2.1.1
torchaudio==2.1.1
torchvision
tqdm
transformers
triton
typing_extensions
urllib3
Werkzeug
xformers
yapf
zipp
